[submodule "03.数据库管理_文件夹整理AI应用"]
	path = 03.数据库管理_文件夹整理AI应用
	url = https://github.com/letplaylimited-MARK/knowledge-base-manager.git
[submodule "05.超极智脑_Q-SpecTrum"]
	path = 05.超极智脑_Q-SpecTrum
	url = https://github.com/letplaylimited-MARK/Q-Spectrum.git
